<?xml version="1.0"?>
<launch>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" type="string"  value="/dev/ttyACM0"/>
    <param name="baud" type="int" value="57600"/>
  </node>

  <node name="IMU_publisher" pkg="steerbot_controller" type="imu_publisher_node"/>


    <!-- change pkg name according to your robot description launch file -->
  <!-- <include file="$(find krontonbot_description)/launch/robot_description.launch"/> -->
  

 
</launch>
